[submodule "DeepLearning-Projects/Ensemble/AdaBoost(Disaster-Tweet-Classification)"]
	path = DeepLearning-Projects/Ensemble/AdaBoost(Disaster-Tweet-Classification)
	url = https://github.com/SakhareSohan/Adaboost-NaturalDisasterCommentIdentifier.git
[submodule "DeepLearning-Projects/Regression/LSTM(Stock-Market-Prediction)-Implementation"]
	path = DeepLearning-Projects/Regression/LSTM(Stock-Market-Prediction)-Implementation
	url = https://github.com/SakhareSohan/LSTM-StockMarketPrediction.git
[submodule "MachineLearning-Projects/Classification/SVC&Logistic-Regression(Diseases-Prediction)-Implementation"]
	path = MachineLearning-Projects/Classification/SVC&Logistic-Regression(Diseases-Prediction)-Implementation
	url = https://github.com/SakhareSohan/SVC_LogisticRegression-MultipleDiseasePrediction.git
[submodule "MachineLearning-Projects/Regression/Point-Regression-Implementation"]
	path = MachineLearning-Projects/Regression/Point-Regression-Implementation
	url = https://github.com/SakhareSohan/Point-Regression-StudentPerformance.git
[submodule "NLP-Projects/ASR/wav2vec-Implementation"]
	path = NLP-Projects/ASR/wav2vec-Implementation
	url = https://github.com/SakhareSohan/ASR-wav2vec-Implementation.git
[submodule "NLP-Projects/RAG/Chunk-Overlapping-stg-Implementation"]
	path = NLP-Projects/RAG/Chunk-Overlapping-stg-Implementation
	url = https://github.com/SakhareSohan/RAG-ChunkOverlapping.git
[submodule "Research-Papers-Materials/AI-ResearchPapers"]
	path = Research-Papers-Materials/AI-ResearchPapers
	url = https://github.com/SakhareSohan/AI-ResearchPapers.git
[submodule "Research-Papers-Materials/ML-WebApps-Reference"]
	path = Research-Papers-Materials/ML-WebApps-Reference
	url = https://github.com/SakhareSohan/ML-WebApps-Reference.git
[submodule "DeepLearning-Projects/ComputerVision/People-Counting-Implementation"]
	path = DeepLearning-Projects/ComputerVision/People-Counting-Implementation
	url = https://github.com/SakhareSohan/People-Counting-Crowd-Density-Detection.git
[submodule "DeepLearning-Projects/OSINT/Robin-DarkWeb-OSINT"]
	path = DeepLearning-Projects/OSINT/Robin-DarkWeb-OSINT
	url = https://github.com/SakhareSohan/robin.git
